.wrapper 
  %h2.wrapper__session 
    .wrapper__session__title
      トレーニング投稿
      = image_tag "/icon/マッチョ.png",class:"icon"
  .wrapper__main
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .box
        .box__title
          新規登録画面
      .field
        .field__box
          = f.label :ニックネーム
          %br/
          = f.text_field :name
      .field
        .field__box
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        .field__box
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
          %br/
          = f.password_field :password, autocomplete: "new-password"
      .field
        .field__box
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field__box
          .actions
            = f.submit "登録する"
            -# = render "devise/shared/links"
