.header
  .header__top
    .header__top__logo
      .header__top__logo__text
        = link_to root_path do
          トレーニング投稿
          = image_tag "/icon/マッチョ.png",class:"icon"
    .header__top__serch
      .header__top__serch__box
        .header__top__serch__box__fream
          %input.login-input-text{ :placeholder => "キーワードから投稿を探す", :value => ""}/
        .header__top__serch__box__icon
          =image_tag "/icon/icon-search 1.png",class:"icon"
  .header__profile
    - if user_signed_in?
      .header__profile__box
        = link_to user_path(current_user), class:"header__profile__box__inner" do
          %li.header__profile__box__inner__image
            - if current_user.image?
              = image_tag current_user.image.url,class:"header__profile__box__inner__image"
            - else
              = image_tag "/icon/noimage1.svg",class:"header__profile__box__inner__image"
          %li.header__profile__box__inner__name
            = current_user.name
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--outbtn"
    - else
      = link_to "ログイン", new_user_session_path, class: "header__right--inbtn"
      = link_to "新規登録", new_user_registration_path, class: "header__right--inbtn"
  - if current_user.try(:id)
    .header__contents
      .header__contents__post
        = link_to new_post_path do
          = image_tag "/icon/edit_icon.png",class:"header__contents__post__icon"
          .header__contents__post__btn 投稿する
      .header__contents__rm
        = link_to root_path do
          = image_tag "/icon/calculate_icon.png",class:"header__contents__rm__icon"
          .header__contents__rm__btn RM計算
      .header__contents__user
        = link_to edit_user_registration_path(@user) do
          = image_tag "/icon/ifn0013.png",class:"header__contents__user__icon"
          .header__contents__user__btn
            .header__contents__user__btn__a
              ユーザー
            .header__contents__user__btn__b
              編集 
  - else 
    .display-none