.wrapper
  .main 
    .main__post
      .main__post__title 
        .main__post__title__box
          投 稿 画 面
      .main__post__list
        = form_with model: @post, local: true,class:"form" do |f|
          = f.text_area :memo,placeholder: "一言メモ",autocomplete: 'off'
          = f.text_area :menu1,placeholder: "トレーニングメニュー(例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
          = f.text_area :menu2,placeholder: "トレーニングメニュー(例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
          = f.text_area :menu3,placeholder: "トレーニングメニュー(例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
          = f.text_area :menu4,placeholder: "トレーニングメニュー(例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
          = f.text_area :menu5,placeholder: "トレーニングメニュー(例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
          = f.label :image,class:"main__post__list__image" do
            = icon("far","image")
            = f.file_field :image,class:"main__post__list__image__a"
          = f.submit '投稿する' 
