.wrapper
  .main 
    .main__post
      .main__post__title 
        .main__post__title__box
          投 稿 画 面
      .main__post__list
        = form_with model: @post, local: true,class:"form" do |f|
          .main__post__list__box1
            .form1
              .form1__title
                一言メモ
                = f.text_area :memo,placeholder: "一言メモ",autocomplete: 'off'
          .main__post__list__box2
            .form2
              .form2__title
                トレーニングメニュー
                = f.text_area :menu1,placeholder: "トレーニングメニュー① (例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
                = f.text_area :menu2,placeholder: "トレーニングメニュー② (例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
                = f.text_area :menu3,placeholder: "トレーニングメニュー③ (例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
                = f.text_area :menu4,placeholder: "トレーニングメニュー④ (例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
                = f.text_area :menu5,placeholder: "トレーニングメニュー⑤( 例：ベンチプレス80kg × 10回 × 3セット)",autocomplete: 'off'
            .form3
              .form3__title    
                = f.label :image,class:"main__post__list__image" do
                  = icon("far","image")
                  = f.file_field :image,class:"main__post__list__image__a"
          .main__post__list__submit
            .form4    
              = f.submit '投稿する' 
